<!DOCTYPE html>
<html>
	<head>
		<title>Demo</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="description" content="Demo project">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<style type="text/css"></style>
	</head>
	<body>
		<h3>{{user.first_name + " " + user.last_name}}</h3>
		<a class="btn btn-danger" href="/logout">Log out</a>
			<table class="table">
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Under Thirty Mins</th>
					<th scope="col">Actions</th></tr>

				</tr>
				{% for recipe in recipes %}
					<tr scope="row">
						<td>{{recipe.name}}</td>
						{% if recipe.underthirty == 1 %}
						<td>Yes</td>
						{% else %}
						<td>No</td>
						{% endif %}
						<td>
							{% if user.id != recipe.user.id %}
							<a class="btn btn-primary" href="/view/{{recipe.id}}">view</a>
							{% else %}
							<a class="btn btn-primary" href="/view/{{recipe.id}}">view</a>
							<a class="btn btn-primary" href="/update/{{recipe.id}}">edit</a>
							<a class="btn btn-danger" href="/delete/{{recipe.id}}">delete</a>
							{% endif %}
						</td>
					</tr>	
				{% endfor %}
			</table>
			<br>
			<a href="/add" class="btn btn-primary">Add recipe</a>
	</body>
</html>